/**
*   Document   : CRO
*   Author     : Babu K A
*   Description: Purpose of the stylesheet follows.
*   
*/

root {
    display: block;
}

.cro_wid{
    width: 20%;
    float: left;
    overflow: hidden;
}
.cro_wid img{
    width: 100%;
}

.cro_wid_update_status .cro_wid_updating,
.cro_wid_update_status .cro_wid_saved{
    display: none;
}

.cro_wid_inner{
    height: 100%;
    width: 100%;
    position: relative;
}
.cro_wid_overlay{
    position: absolute;
    height: 20px;
    color: #fff;
    width: 100%;
    bottom: -5px;
    left: 0;
    line-height: 20px;
    background: rgba(50,50,50,0.5);
}

#features {
    margin: auto;
    width: 460px;
    font-size: 0.9em;
}
.connected, .cro_post_sortable, .exclude, .handles {
    margin: auto;
    padding: 0;
    width: 450px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cro_post_sortable.grid {
    overflow: hidden;
}
.connected li, .cro_post_sortable li, .exclude li, .handles li {
    list-style: none;
    border: 1px solid #CCC;
    background: #F6F6F6;
    font-family: "Tahoma";
    color: #1C94C4;
    margin: 5px;
    padding: 5px;
    height: 22px;
}
.handles span {
    cursor: move;
}
li.disabled {
    opacity: 0.5;
}
.cro_post_sortable.grid li {
    line-height: 80px;
    float: left;
    width: 80px;
    height: 80px;
    text-align: center;
}
li.highlight {
    background: #FEE25F;
}
#connected {
    width: 440px;
    overflow: hidden;
    margin: auto;
}
.connected {
    float: left;
    width: 200px;
}
.connected.no2 {
    float: right;
}
li.cro_post_sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
}
.cro_post_options_table{
    float: left;
    width: 45%;

}
.cro_post_options_table a.button{
    /*margin-bottom: 5px;*/
}
#smartcat_team_member_info_box .cro_post_options_table h2{
    margin: 0;
}

.cro-wrapper {
    float: left;
    width:50%;
    margin: 2% 2% 2% 1%;
}

.cro-code-wrapper {
    float: left;
    width: 43%;
    margin: 2% 2% 2% 1%;
}

.cro-code-wrapper code {
    background: #FFF;
}

.cro-settings {
    background: #FFF;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);

    padding: 0 2%; 
}

.cro-setting-header  {
    vertical-align: middle;
    border-bottom: 1px solid #CCC;
    padding: 2%; 
}
.cro-wrapper-container h1{
    font-size: 2em;
    margin: .67em 0;
    color: #23282d;
    display: block;
    font-weight: 600;
}   